# This file
.gitignore

#Ignore Maven wrappers
/mvnw.bat
/mvnw
mvnw*
/.mvn/

# Ignore IntelliJ IDEA configs
.idea/
**/out
**/*.iml

# Ignore Eclipse configs
**/.metadata
**/Servers
**/.settings
**/.project
**/.classpath
**/.springBeans
**/*.jar
**/.checkstyle
**/bin
**/target
**.classpath
**.project
**.prefs

